[package]
name = "migration"
version = "0.1.0"
edition = "2021"
publish = false

[lib]
name = "migration"
path = "src/lib.rs"

[dependencies]
sea-orm-migration = "0.12"
async-std = { version = "1", features = ["attributes", "tokio1"] }
